.navContainer {
    background-color: oklch(54.6% 0.245 262.881);
    margin-top: 0;
    

}





.navUlCon {
    display: flex;
    /* justify-content:; */
    gap: 5rem;
    padding: 3rem;
    margin: 0
    
}

.navItem {
    list-style: none;
}

.itemText {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    
}

.text {
    color:aliceblue;
    
}