.allJobsCon {
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  width: 80rem;
  height: 60rem;
  padding: 1rem;
  
} 

.JobCard {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;

  padding: 2rem;
  width: 18rem;
  height: 18rem;
  margin: 1rem;
  
}

.btns {
  border: 1px solid blue;
  /* justify-content: ; */
  gap: 4rem;

  display: flex;

}